<!-- <div *ngIf='team'>

  <h2>{{ team.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{team.id}}
  </div>

  <div>
    <label>name:
      <input [(ngModel)]='team.name' placeholder='name' />
    </label>
  </div>
</div>
 -->
<h6>
 {{ selectedTeam }}
</h6>
<div>
   Select your favorite team:
  <select [(ngModel)]="selectedTeam" (ngModelChange)="event()">
    <option *ngFor="let team of teams">{{ team.City }} {{ team.Name }}</option>
  </select>
</div>
<br/>
<div>
    <style type="text/css">
      table { width: 100%; }
      td.colA { width: 25%; }
      td.colB { width: 25%; }
      td.colC { width: 25%; }
      td.colD { width: 25%; }
    </style>
    <table id="GeneralTeamInfo" cellspacing="0" summary="General Team information.  ">
      <caption>General Team Information</caption>
      <tr>
        <th scope="row" abbr="Abbreviation" class = "colA">Abbreviation</th>
        <th scope="row" abbr="Rank" class = "colB">Rank</th>
        <th scope="row" abbr="Wins" class = "colC">Wins</th>
        <th scope="row" abbr="Losses" class = "colD">Losses</th>
      </tr>
      <!-- <tr *ngFor="let team of teams"> -->
      <tr>
        <th scope="row" class = "colA" style="text-align:center"> {{ Abbreviation }}</th>
        <td class = "colB" style="text-align:center"> {{ Rank }} </td>
        <td class = "colC" style="text-align:center"> {{ Wins }}</td>
        <td class = "colD" style="text-align:center"> {{ Losses }}</td>
      </tr>
    </table>

 </div>