<!-- <div *ngIf='team'>

  <h2>{{ team.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{team.id}}
  </div>

  <div>
    <label>name:
      <input [(ngModel)]='team.name' placeholder='name' />
    </label>
  </div>
</div>
 -->
<h6>
 {{ selectedTeam }}
</h6>
<div>
   Select your favorite team:
  <select [(ngModel)]="selectedTeam" (ngModelChange)="event()">
    <option *ngFor="let team of teams">{{ team.City }} {{ team.Name }}</option>
  </select>
</div>
<br/>
<div>
    <table id="GeneralTeamInfo" cellspacing="0" summary="General Team information.  ">
      <caption>General Team Information</caption>
      <tr>
        <th scope="row" abbr="Abbreviation">Abbreviation</th>
        <th scope="row" abbr="Rank">Rank</th>
        <th scope="row" abbr="Wins">Wins</th>
        <th scope="row" abbr="Losses">Losses</th>
      </tr>
      <!-- <tr *ngFor="let team of teams"> -->
      <tr>
        <th scope="row"> </th>
        <td> </td>
        <td></td>
        <td></td>
      </tr>
    </table>

 </div>