<!-- <div *ngIf='player'>

  <h2>{{ player.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{player.id}}
  </div>

  <div>
    <label>name:
      <input [(ngModel)]='player.name' placeholder='name' />
    </label>
  </div>
</div>
 -->
 <h6>
  {{ SelectedPlayer }}
 </h6>
 <div>
  <h2>Select your favorite player:</h2>
  <select [(ngModel)]="SelectedPlayer" (ngModelChange) = "event()">
    <option *ngFor="let player of players">{{ player.FirstName }} {{ player.LastName }}</option>
  </select>
 </div>
 <br/>
 <div>
    <style type="text/css">
      table { width: 100%; }
      td.colA { width: 25%; }
      td.colB { width: 25%; }
      td.colC { width: 25%; }
      td.colD { width: 25%; }
    </style>
    <table id="GeneralPlayerInfo" cellspacing="0" summary="General Player information.  ">
      <caption>General Player Information</caption>
      <tr>
        <th scope="row" abbr="Jersey" class = "colA" >Jersey</th>
        <th scope="row" abbr="Position" class = "colB" >Position</th>
        <th scope="row" abbr="City" class = "colC" >City</th>
        <th scope="row" abbr="Team Name" class = "colD" >Team Name</th>
      </tr>
      <!-- <tr *ngFor="let ID of Player"> -->
      <tr>
        <th scope="row" class = "colA" style="text-align:center"> {{ JerseyNumber }}</th>
        <td class = "colB" style="text-align:center">{{ Position }}</td>
        <td class = "colC" style="text-align:center">{{ City }}</td>
        <td class = "colD" style="text-align:center">{{ TeamName }}</td>
      </tr>
    </table>

 </div>