/* You can add global styles to this file, and also import other style files */

h1 {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 320%;
    text-align: center;
}
h2{
    color: black;
    font-size: 100%;
    display: inline;
}
h3 {
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}

nav {
    text-align: center;
    font-size: 120%;
    word-spacing: 100px;
}

h4 {
    background-color: #bdcebe;
}

h5{
    color: black;
    font-size: 210%;
    display: inline;
    padding-right: 10px;
}

h6 {
    color:black;
    font-size: 150%;
    display: inline;
    padding-right: 10px;
    text-decoration: underline;
}

plaintext {
    color: black;
    font-size: 100%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: black;
}

body {
    background-color: #bdcebe;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    color: black;
}

td {
    text-align: right;
}

th {
    font-weight: bold;
}


/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}
